* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(221, 220, 220);
}

.title {
    font-size: 80px;
    text-align: center;
    padding: 15px 0px;
    color: rgb(79, 20, 189);
    border-bottom: 2px solid rgb(172, 170, 170);
    margin-bottom: 30px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(204, 204, 204);
    height: 450px;
    width: 450px;
    margin-right: 25%;
}

.grid {
    background-color: white;
    height: 112.5px;
    width: 112.5px;
}

.grid:onClick {
    background-color: blue;
}

.color{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(79, 20, 189);
}

.settings{
    display: flex;
    width: 200px;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eraser, .random, .clear{
    position: relative;
    z-index: 10;
    font-size: 18px;
    padding: 10px 20px;
    width: 100%;
    color: rgb(79, 20, 189);
    border: 1px solid rgb(79, 20, 189);
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.eraser:hover,
.random:hover,
.clear:hover{
    transform: scale(1.01);
    box-shadow:  0 0 10px rgba(79, 20, 189, 0.5);;
}

.gridSetter{
    font-size: 20px;
    font-weight: bold;
    color: rgb(79, 20, 189);
    display: flex;
    justify-content: space-around;
}

.gridInput{
    text-align: center;
    border: 1px solid rg(79, 20, 189);
    border-radius: 5px;
}